{%extends 'layout.njk'%}

{%block content%}
{%include 'headers/header.njk'%}
<br>
<br>
<br>
<h3 class="text-center">Redefinir a senha</h3>
<form class="text-center" action="/company/password-reset" method="POST">
    <label for="email" class="visually-hidden">Endereço de Email</label>
    <input style="width: 400px" class="form-control mx-auto" placeholder="Endereço de Email" type="email" name="email" id="email" required>
    <br>
    <label for="password" class="visually-hidden">Senha</label>
    <input style="width: 400px" class="form-control mx-auto" placeholder="Senha" type="password" name="password" id="password" required>
    <br>
    <label for="password-repeat" class="visually-hidden">Repita a senha</label>
    <input style="width: 400px" class="form-control mx-auto" placeholder="Repita a Senha" type="password" name="passwordRepeat" id="passwordRepeat" required>
    <br>
    <button class="w-400 btn btn-primary" type="submit">Redefinir Senha</button>
</form>
{%endblock content%}