{%extends 'layout.njk'%}

{%block content%}
{%include 'headers/header.njk'%}
<br>
<br>
<br>
<h3 class="text-center">Esqueceu a senha?</h3>
<form class="text-center" action="/company/forgot-password" method="POST">
    <label for="email" class="visually-hidden">Email cadastrado</label>
    <input style="width: 400px" class="form-control mx-auto" placeholder="Endereço do email cadastrado" type="email" name="email" id="email" required>
    <br>
    <button class="w-400 btn btn-primary" type="submit">Enviar email de recuperação de senha</button>
</form>
{%endblock content%}