{%extends 'layout.njk'%}

{%block content%}
<br>
<br>
<h1>Registrar novo Funcionário</h1>
<form action="/employee" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input style="border: 1px solid rgb(134, 151, 169); border-radius: 3px" type="file" class="custom-file-input" id="photos" name="photos" onchange="imagePreview()" required>
                    <label class="custom-file-label" for="photos">Foto do funcionário</label>
                </div>
            </div>

            <br>    
            <br>
            <div class="row">
                <img src="" style="max-width: 250px; max-height: 350px" class="img-fluid mx-auto" id="preview">
            </div>
        </div>
        <div class="col">
            <label for="name">Nome completo</label>
            <input style="max-width: 400px" class="form-control" type="text" name="name" id="name" required>

            <label for="rg">RG</label>
            <input style="max-width: 400px" class="form-control" type="text" name="rg" id="rg" required>

            <label for="name">CPF</label>
            <input style="max-width: 400px" class="form-control" type="text" name="cpf" id="cpf" required>

            <label for="name">Telefone</label>
            <input style="max-width: 400px" class="form-control" type="text" name="phone" id="phone" required>

            <label for="name">Email</label>
            <input style="max-width: 400px" class="form-control" type="email" name="email" id="email" required>

            <label for="name">Data de nascimento</label>
            <input style="max-width: 400px" class="form-control" type="date" name="birth" id="birth" required>
        </div>
    </div>
    <br>
    <br>
    <div class="container text-center">
        <button type="submit" class="btn btn-primary btn-lg btn-block" style="width: 200px;">Registrar</button>
    </div>
</form>

<script>
    function imagePreview() {
        let photo = document.querySelector('input[name=photos]').files[0]
        let preview = document.querySelector('img')

        let reader = new FileReader()
        reader.onloadend = function() {
            preview.src = reader.result
        }

        reader.readAsDataURL(photo)
    }
</script>
{%endblock content%}