{%extends 'layout.njk'%}

{%block content%}
    <main class="container mt-5">
        <div class="starter-template text-center py-5 px-3">
            <h1>Employee Manager</h1>
            <p class="lead">
                Projeto criado para estudos
                <br>
                O Employee Manager é um sistema criado para administração de um quadro de funcionários.
                <br>
                Estarei implementando novas funções com o passar do tempo, sinta-se a vontade para me mandar sugestões.
                <br>
                Meu github: <a href="https://github.com/SamuelB7">SamuelB7</a>
            </p>
        </div>
    </main>
{%endblock content%}