{%extends 'layout.njk'%}

{%block content%}
{%include 'headers/header.njk'%}
    <main class="container mt-5">
        <br>
        <br>
        <div class="starter-template text-center py-5 px-3">
            <img class="img-fluid" src="images/Logo-removebg-preview.png" alt="LOGO">
            <br>
            <button type="button" class="btn btn-dark"><a href="/company/register" class="text-decoration-none text-light">Criar conta</a></button>
            <button type="button" class="btn btn-dark"><a class="text-decoration-none text-light" href="/company/login">Login</a></button>
        </div>
    </main>
{%endblock content%}