{%if error%}
<br>
<br>
<div class="alert alert-danger alert-dismissible" role="alert">
  {{error}}
</div>
{%endif%}

{%if emailAlert%}
<br>
<br>
<div class="alert alert-danger alert-dismissible" role="alert">
  {{emailAlert}}
</div>
{%endif%}