{%extends 'layout.njk'%}

{%block content%}
<div class="container my-5">
    <p><br></p>
    <div class="row">
        <div class="col">
            <img width="250" height="250" src="{{photoPath}}" class="img-fluid mx-auto d-block" alt="{{photoPath}}" >
        </div>
        <div class="col">
            <h5>Nome</h5>
            <div>{{employee.name}}</div>
            <br>
            <h5>RG</h5>
            <div>{{employee.rg}}</div>
            <br>
            <h5>CPF</h5>
            <div>{{employee.cpf}}</div>
            <br>
            <h5>Telefone</h5>
            <div>{{employee.phone}}</div>
            <br>
            <h5>Nascimento</h5>
            <div>{{employee.birth}}</div>
            <br>
            <h5>Registrado em:</h5>
            <div>{{employee.created_at}}</div>
        </div>
    </div>
</div>
{%endblock content%}