{%extends 'layout.njk'%}

{%block content%}
<div class="container my-5">
    <p><br></p>
    <div class="row">
        <div class="col">
            <img width="250" height="250" src="{{photoPath}}" class="img-fluid mx-auto d-block" alt="{{photoPath}}" >
        </div>
        <div class="col">
            <h5>Nome</h5>
            <div>{{employee.name}}</div>
            <br>
            <h5>RG</h5>
            <div>{{employee.rg}}</div>
            <br>
            <h5>CPF</h5>
            <div>{{employee.cpf}}</div>
            <br>
            <h5>Telefone</h5>
            <div>{{employee.phone}}</div>
            <br>
            <h5>Nascimento</h5>
            <div>{{employee.birth}}</div>
            <br>
            <h5>Registrado em:</h5>
            <div>{{employee.created_at}}</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-dark"><a class="text-decoration-none text-light" href="/employee/{{employee.id}}/edit">Editar Dados</a></button>
        </div>
        <div class="col">
            <form id="form-delete" action="/employee?_method=DELETE" method="POST">
                <input type="hidden" name="id" value={{employee.id}}>
                <input type="hidden" name="path" value={{employee.path}}>
                <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
        </div>
    </div>    
</div>
<script>
    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", function(event) {
        const confirmation = confirm("Deseja Deletar?")
            if(!confirmation) {
                event.preventDefault()
            }
    })
</script>
{%endblock content%}